{% extends 'course/base.html' %}

{% block head_title %}
{{ course.title }} - Course
{% endblock %}


{% block main_area %}

{% if user.is_staff %}
<div id="course-area">
    <article>
        <!-- course header-->
        <header class="mb-4">
            <!-- course title-->
            <h1 class="fw-bolder mb-1">{{ course.title }}</h1>
            <!-- course meta content-->
            <hr/>

            {% if user.is_superuser %}
            <div class="float-right">
                Lecture 추가 ->&nbsp
                <a href="/course/update_course/{{ course.pk }}/" class="btn btn-info btn-sm" role="button">
                    <i class="fas fa-pen"></i>
                </a>
                <a href="#" class="btn btn-sm btn-danger" data-target="#deleteCourseModal-{{ course.pk }}"
                   data-toggle="modal" role="button" id="course-{{ course.pk }}-delete-modal-btn"><i
                    class="fas fa-trash-alt"></i></a>
            </div>

            {% endif %}
            <div class="text-muted fst-italic mb-2">course on {{ course.created_at }}</div>
            <hr/>
        </header>
        <div class="row">
            {% if course.lectures.exists %}
            {% for lecture in course.lectures.iterator %}
            <div class="col-4">
                <div class="card card-body">
                    {% if lecture.head_image %}
                    <a href="{{ lecture.get_absolute_url }}">
                        <figure class="mb-4">
                            <img class="figure-img img-fluid rounded" src="{{ lecture.head_image.url }}"
                                 alt="{{ lecture.head_image.url }} head_image"/>
                        </figure>
                        <p>{{lecture.title}}</p>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <!-- Update, Delete button -->
                    <div>
                        <a href="/lecture/{{ lecture.pk }}/update" class="btn btn-info btn-sm" role="button">
                            <i class="fas fa-pen"></i>
                        </a>

                        <a href="#"
                           class="btn btn-sm btn-danger"
                           data-target="#deleteLectureModal-{{ lecture.pk }}"
                           data-toggle="modal" role="button"
                           id="lecture-{{ lecture.pk }}-delete-modal-btn">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Remove Lecture Modal -->
                <div class="modal fade" id="removeLectureModal-{{ lecture.pk }}"
                     tabindex="-1" role="dialog" aria-labelledby="removeLectureModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="removeModalLabel2">정말 삭제 하시겠습니까?</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        airia-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <a href="#"
                                   class="btn btn-sm btn-danger float-right"
                                   data-target="#deleteLectureModal-{{ lecture.pk }}"
                                   data-toggle="modal" role="button"
                                   id="lecture-{{ lecture.pk }}-delete-modal-btn">
                                    Lecture 자체를 삭제
                                </a>
                                <del>{{ lecture | linebreaks }}</del>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">
                                    Cancel
                                </button>
                                <a role="button"
                                   href="/course/remove_lecture/{{ course.pk }}/{{ lecture.pk }}"
                                   class="btn btn-danger">
                                    Course 목록에서 삭제
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete Lecture Modal -->
                <div class="modal fade" id="deleteLectureModal-{{ lecture.pk }}"
                     tabindex="-1" role="dialog" aria-labelledby="deleteLectureModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel2">정말 삭제 하시겠습니까?</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        airia-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <del>{{ lecture | linebreaks }}</del>
                                (주의: course 목록에서뿐만 아니라 lecture 자체가 삭제됨)
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">
                                    Cancel
                                </button>
                                <a role="button" href="/lecture/{{ lecture.pk }}/delete/{{ course.pk }}"
                                   class="btn btn-danger">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}

            {% if user.is_superuser %}
            <div class="float-right">
                <a href="/lecture/create" class="btn btn-info btn-sm" role="button">
                    Lecture 생성하기!&nbsp&nbsp<i class="fas fa-pen"></i>
                </a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </article>
    <!-- Delete Course Modal -->
    <div class="modal fade" id="deleteCourseModal-{{ course.pk }}" tabindex="-1" role="dialog"
         aria-labelledby="deleteCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">정말 삭제 하시겠습니까?</h5>
                    <button type="button" class="close" data-dismiss="modal" airia-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <del>{{ course | linebreaks }}</del>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a role="button" href="/course/delete_course/{{ course.pk }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% else %}
<h3>사용 권한이 없습니다. 관리자에게 문의해주세요.</h3>
{% endif %}
{% endblock %}