{% extends 'course/base.html' %}

{% block head_title %}
    {{ course.title }} - Course
{% endblock %}


{% block main_area %}
<div id="course-area">
      <article>
        <!-- course header-->
        <header class="mb-4">
            <!-- course title-->
            <h1 class="fw-bolder mb-1">{{ course.title }}</h1>
            <!-- course Author-->
            <p class="lead">
                by
                <a class="text-muted fst-italic mb-2" href="#">{{ course.author | upper }}</a>
            </p>
            <!-- course meta content-->
            <hr />

            {% if user.is_authenticated and user == course.author %}
                <a href="/blog/update_course/{{ course.pk }}/" class="btn btn-info btn-sm float-right" role="button"><i class="fas fa-pen"></i></a>
            {% endif %}
            <div class="text-muted fst-italic mb-2">course on {{ course.created_at }}</div>
            <hr />

        </header>
        <!-- Preview image figure-->
        {% if course.head_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ course.head_image.url }}" alt="{{ course.head_image.url }} head_image" /></figure>
        {% else %}
            <img src="https://picsum.photos/seed/{{ course.id }}//800/200" alt="random_image">
        {% endif %}
        <!-- course content-->
        <section class="mb-5">
            <p>{{ course.content }}</p>
            <!-- 블로그 태그 -->
            {% if course.tags.exists %}
                <i class="fas fa-tags"></i>
                {% for tag in course.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-dark">{{ tag }}</span></a>
                {% endfor %}
                <br/>
                <br/>
            {% endif %}

            {% if course.file_upload %}
                <a href="{{ course.file_upload.url }}" class="btn btn-outline-dark" role="button" download>Download

            {% if course.get_file_ext == 'csv' %}
                <i class="fas fa-file-csv"></i>
            {% elif course.get_file_ext == 'xlsx' or course.get_file_ext == 'xls' %}
                <i class="fas fa-file-excel"></i>
            {% elif course.get_file_ext == 'docx' or course.get_file_ext == 'doc' %}
                <i class="fas fa-file-word"></i>
            {% else %}
                <i class="far fa-file"></i>
            {% endif %}
            {{ course.get_file_name }}
            </a>
        {% endif %}
        </section>
    </article>
</div>
{% endblock %}