{% extends 'lecture/_base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}{{ lecture.title }}{% endblock %}

{% block main_area %}

<style>
.splide__slide img {
	width : 100%;
	height: auto;
}

.splide__arrow svg {
    width: 1.0em;
    height: 1.0em;
}

.slide-content {
    color: #121231;
    font-size: 16px;
}
</style>

{% if user.is_staff %}
<div id="image-slider" class="splide">
    <div class="splide__track">
        <ul class="splide__list">

            {% for slide in slides %}
            <li class="splide__slide">
                {% if slide.image %}
                <img alt="{{ slide.image }} - head image - {{ lecture.head_image.url }}"
                     class="card-img-top"
                     src="{{ slide.image.url }}"
                />
                {% endif %}
                <div class="collapse show">
                        <pre class="card card-body slide-content">
{{slide.content}}
                        </pre>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<h3>사용 권한이 없습니다. 관리자에게 문의해주세요.</h3>
{% endif %}


<script>

document.addEventListener( 'DOMContentLoaded', function () {
	new Splide( '#image-slider', {
	    classes: {
            arrows: 'splide__arrows your-class-arrows',
            arrow : 'splide__arrow your-class-arrow',
            prev  : 'splide__arrow--prev your-class-prev',
            next  : 'splide__arrow--next your-class-next',
        },
        type: 'fade',
	} ).mount();
} );


document.addEventListener('keydown', function(ev){
    if(ev.which == 32) {
        $('.collapse').collapse('toggle')
    }
});






</script>
{% endblock %}

